body {
  font-family: Arial, sans-serif;
  background: linear-gradient(270deg, #3c3e10, #3d63cb, #243a77, #3c3e10);
  background-size: 600% 600%;
  animation: gradientShift 10s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.login-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.login-container h1 {
  margin-top: 0;
  text-align: center;
}

.login-container label {
  display: block;
  margin: 15px 0 5px;
}

.login-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-container button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background: #3455b1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-container button:hover {
  background: #17264f;
}

#loginMessage {
  margin-top: 10px;
  text-align: center;
  color: red;
}

#loginForm{
  display: flex;
  flex-direction: column;
}

.backToLogin{
  background-color: #969828;
  text-decoration: none;
  text-align: center;
  width: 100%;
  color: white;
  padding: 8px 0px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.backToLogin:hover{
  background-color: #3c3d10;
}