body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

.admin-header {
background: linear-gradient(to right, #243a77, #64651b);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-header nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.admin-header nav a:hover {
  text-decoration: underline;
}

.admin-main {
  padding: 2rem;
}

.user-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.user-controls input {
  padding: 0.5rem;
  width: 200px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.user-table th, .user-table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

.user-table th {
  background: #ecf0f1;
}

.user-table tr:nth-child(even) {
  background: #f2f2f2;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
}

button:hover {
  background: #2980b9;
}


.btn-logout {
  margin-left: 1rem;
  padding: 6px 12px;
  background: #243a77;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-logout:hover {
  background: #c0392b;
}
